assignment-1/sort-lazy
assignment-1/sort-eager
assignment-1/hamming-lazy
assignment-1/hamming-eager
assignment-1/goldbach-lazy
assignment-1/goldbach-eager

report.aux
report.log
report.out
report.pdf
report.tex
report.toc
