assignment-1/sort-lazy
assignment-1/sort-lazy.csv
assignment-1/sort-eager
assignment-1/sort-eager.csv
assignment-1/hamming-lazy
assignment-1/hamming-lazy.csv
assignment-1/hamming-eager
assignment-1/hamming-eager.csv
assignment-1/goldbach-lazy
assignment-1/goldbach-lazy.csv
assignment-1/goldbach-eager
assignment-1/goldbach-eager.csv
